#container1{
   background-color: white;
   border: none;
}

#img1{
    width: 100%;
}
#a{
    margin: 30px;

}
.navbar-default{
    border: none !important;
    background-color: transparent !important;
}

li::marker {
    content:  "◎ ";
    color: rgb(177,156,217);
  }

 #img2{
     width:70%;
 } 