#back{
    background-color: #E9EDF5;
}


#container1{
   border: none;
}

#img1{
    width: 100%;
    mix-blend-mode: darken;
}
#a{
    margin: 30px;

}
.navbar-default{
    border: none !important;
    background-color: transparent !important;
}


li::marker {
    content:  "◎ ";
    color: rgb(177,156,217);
  }

 #img2{
     width:70%;
 } 
 .leading{
    max-width: 500px; 
 }

 .boost{
     max-width: 500px;
 }

 #img3{
     border-radius: 10px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 60%;
 }
 html{
    font-family: DM Sans;
    line-height: 30px;
    font-weight: normal;
    webkit-font-smoothing: antialiased;
    
}



